body{
        padding-left: 22%;
        padding-top: 10%;
}

.speciallybuttonkeliye{
    font-family: 'cutive_monoregular', sans-serif;
    font-size: 16px;
    color: #2a2a2a; /* Darkest shade of grey */
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    overflow: hidden;
    text-decoration: underline wavy #909090 1px;
    
}
.speciallybuttonkeliye:hover{
    color:#909090
}

/* Button styles */
.linkstyle {
    font-family: 'cutive_monoregular', sans-serif;
    font-size: 16px;
    color: #2a2a2a; /* Darkest shade of grey */
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

/* Underline hover animation */
.linkstyle::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #909090; /* Same color as the text */
    transition: width 0.6s ease; /* Adjust speed (e.g., 0.6s) */
    position: absolute;
    bottom: -3px; /* Position underline slightly below text */
    left: 0;
}
.linkstyle:hover {
    color: #909090; /* Change text color on hover */
}

.linkstyle:hover::after {
    width: 100%; /* Full width on hover */
}
      
.bodyKeLiye{
        font-family: 'cutive_monoregular';
        font-size: 16px;
        color: #737373;
        font-weight: normal;
        font-style: normal;
}

.headingKeLiye{
        font-family: 'rubiklight';
        font-size: 20px;
        color: #404040;
        font-weight: bolder;
        font-style: normal;
}

::selection {
        background-color: #bbf7d0; /* Highlight background color */
        color: #000000;           /* Text color */
    }
    

    /* Social Media Tray Style */
.social-media-tray {
    opacity: 0; /* Start hidden */
    display: none; /* Initially not rendered */
    transition: opacity 0.5s ease; /* Smooth fade effect */
}

    /* Flexbox styling for icons */
    .social-media-icons {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    /* Icons styling */
    .social-media-icons a {
        display: inline-block;
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    .social-media-icons a:hover {
        opacity: 0.7;
    }



    /*  #  CUSTOM FONTS     */

@font-face {
    font-family: 'cutive_monoregular';
    src: url('Fonts/cutivemono-regular-webfont.woff2') format('woff2'),
         url('Fonts/cutivemono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'rubiklight';
    src: url('Fonts/rubik-variablefont_wght-webfont.woff2') format('woff2'),
         url('Fonts/rubik-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}